extends ../layout/main

block variables
	- var title = 'Новости и акции';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Новости и акции'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.page-top
		.container
			.row
				.col-12
					.page-top__content
						h1 Новости и акции

						.filter
							-
								var list=[
									{text:'Все новости и акции', status:'active'},
									{text:'Новости'},
									{text:'Акции'},
								]
							each item in list
								a(href="#", class=item.status?'active':'').filter__item= item.text

	section.article-page
		.article-list
			.container
				.row
					-
						var list=[
							{img:'article1.jpg', date:'01.03.2021', title:'Весенний розыгрыш!', text:'Дарим 43 подарка', label:'Новость'},
							{img:'article2.jpg', date:'01.03.2021', title:'Приходи с договором конкурента — сделаем скидку!', text:'Представляем заём «С договором конкурента»', label:'Акция'},
							{img:'article3.jpg', date:'01.03.2021', title:'Акция «День рождения»', text:'Получите скидку на заём в День рождения', label:'Новость'},
							{img:'article1.jpg', date:'01.03.2021', title:'Весенний розыгрыш!', text:'Дарим 43 подарка', label:'Новость'},
							{img:'article2.jpg', date:'01.03.2021', title:'Приходи с договором конкурента — сделаем скидку!', text:'Представляем заём «С договором конкурента»', label:'Акция'},
							{img:'article3.jpg', date:'01.03.2021', title:'Акция «День рождения»', text:'Получите скидку на заём в День рождения', label:'Новость'},
							{img:'article1.jpg', date:'01.03.2021', title:'Весенний розыгрыш!', text:'Дарим 43 подарка', label:'Новость'},
							{img:'article2.jpg', date:'01.03.2021', title:'Приходи с договором конкурента — сделаем скидку!', text:'Представляем заём «С договором конкурента»', label:'Акция'},
							{img:'article3.jpg', date:'01.03.2021', title:'Акция «День рождения»', text:'Получите скидку на заём в День рождения', label:'Новость'},
						]

					each item in list
						.col-sm-6.col-lg-4
							.article-item
								a(href="#").article-item__img-wrap
									.article-item__img(style="background-image: url(assets/img/"+item.img+")")
								
								.article-item__content
									.article-item__main
										.article-item__date= item.date

										.article-item__title
											a(href="#")= item.title
										.article-item__text= item.text

									.article-item__more
										a(href="#").article-item__more-link Подробнее
										span.article-item__label= item.label
				.row
					.col-12
						.article-list__more
							a(href="#").btn.btn_border
								span Показать больше
								+svg('ic-arrow-down','ic-arrow-down', '14', '8')

	include ../components/mark